<template>
    <button v-on:click="addItem(index)" class="btn">Add to cart</button>  
</template>
<script>
    import products from '../data/products.js'
    export default {
        props:{
            index: null
        },
        data: function() {
            return {
                product: null
            };
        },
        methods:{
            addItem: function(index){
                
                const product = products.find(product=>product.id === index)
                console.log(product)
                this.$store.commit('addToCart', product)
            }
        }
    }
</script>
