<template>
    <div class="modal-mask" @click.self="closeModal">
        <div class="modal-container">
                <div  class="cart">
        <h1>Cart</h1>
        <tr>
            <td>
             №
            </td>
            <td>
            item
            </td>
            <td>
            price
            </td>
        </tr>
        <tr class="cart-item" v-for="(product, index) in cart" :key="index">
            <td >
                {{index + 1}}
            </td>
            <td>
                {{product.item}}
            </td>
            <td >
                {{product.price}}
            </td>
        </tr>
        <p>Total: {{total}}</p>
    </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
        closeModal: null
        },
     computed:{
         cart: function(){
             return this.$store.getters.getCart
         },
         total: function(){
             return this.$store.getters.getTotalPrice
         }
     }
        
    }
</script>
<style scoped>
    td{
        padding: 10px;
    }
    .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
   display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container {
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  
}
</style>
