<template>
    <div class="products">
        <form class="searchbar">
            <input placeholder="Пошук" v-model="search">
            <input type="submit"  class="btn">
        </form>
         <button @click="showCart">Cart</button>
        <Cart v-if="isCart" :closeModal="closeCart"/>
        <div class="product" v-for="(item) in filteredItems" v-bind:key="item.id">
            <div class="product-image">
                <img v-bind:src="item.src">
            </div>
            <div>
                <h4 class="product-title">
                    <router-link v-bind:to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>{{item.price}}</label>
                <AddToCartButton :index="item.id"/>
                
            </div>
        </div>
    </div>
</template>
<script>
    import products from '../data/products.js'
    import AddToCartButton from './AddToCartButton.vue'
    import Cart from './Cart.vue'
    export default {
        data: function () {
            return {
                items: [],
                search: '',
                searchResult: [],
                isCart: false
            };
        },
        components:{
            AddToCartButton,
            Cart
        },
        mounted: function(){
            this.items = products;
        },
        methods:{
            showCart: function(){
                this.isCart = true
            },
            closeCart: function(){
                this.isCart = false
            },
        },
        computed: {
            filteredItems: function() {
                console.log(this);
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        }
    }
</script>
